.jp-MemoryContainer {
  display: flex;
  flex-direction: row;
}

.jp-MemoryFiller {
  background: green;
  height: 100%;
}

.jp-MemoryText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
}

.jp-MemoryWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
}

.jp-MemoryBar {
  height: 75%;
  outline: 1px solid black;
}

.jp-MemoryBar svg {
  max-width: 100%;
  height: 100%;
}
