.jp-IndicatorContainer {
  display: flex;
  flex-direction: row;
}

.jp-IndicatorFiller {
  height: 100%;
}

.jp-IndicatorText {
  display: flex;
  min-width: 35px;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
}

.jp-IndicatorWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
  width: 75px;
}

.jp-IndicatorBar {
  height: 75%;
  outline: 1px solid black;
}

.jp-IndicatorBar svg {
  max-width: 100%;
  height: 100%;
}
