name: Build

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Install node
      uses: actions/setup-node@v1
      with:
       node-version: '10.x'
    - name: Install Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.8'
    - name: Install JupyterLab
      run: python -m pip install jupyterlab nbresuse
    - name: Build and install the extension
      run: |
        jlpm && jlpm run build
        jupyter labextension link ./system-monitor-base  --no-build
        jupyter labextension install jupyterlab-topbar-extension ./system-monitor
    - name: Browser check
      run: python -m jupyterlab.browser_check
